body {
	background-image:url(背景.jpg)
}
h1 {
	font-size:24px;	
	text-align:center;	
	color:white;
}
h2 {
	color:yellow;	
}
p {	
	font-size:16px;		
	line-height:32px;	
	color:#99d2ff;	
}
pre {	
	font-size:16px;		
	line-height:32px;	
	color:#99d2ff;	
}
a {	
	font-size:24px;		
	line-height:128px;	
	color:yellow;	
}

